{% extends "layout.html" %}
{% block title %}
<title>Methodology</title>
{% endblock %}

{% block frontimg %}
<img id="fore" src="static/img/about.jpg"/>
{% endblock %}

{% block content %}
<div class="currentlocation">
<p class="pagetitle">About / <a href="/methodology" class="titlebold">Methodology</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
            <div class="contentbox">
            <p class="titlecolorred">METHODOLOGY</p>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="redtxtabout">DRUG INDEX: </p>
            <p class="txtcontent">To evaluate the impact of the major drugs for malaria, tuberculosis and HIV/AIDS, we consider 1) the need for the drugs, 2) the drugs’ effectiveness, and 3) access to the drug. We measure the need for the drugs in Disability Adjusted Life-Years (DALYs) lost to the diseases they treat. We use efficacy data from clinical trials when data on actual effectiveness is unknown. We measure access by the number of people who need treatment who are receiving it.</p>
        </div>
        <div class="contentbox">
            <p class="redtxtabout">DISEASE INDEX:</p>
            <p class="txtcontent">The Disease Index sums the global impact of the drugs for each disease. It displays the relative proportion of DALYs averted by disease. It is also possible to see the breakdown of some information about need, access to, and efficacy of key drugs for each disease.</p>
        </div>
        <div class="contentbox">
            <p class="redtxtabout">GLOBAL HEALTH IMPACT INDEX:</p>
            <p class="txtcontent">This report explains the new Global Health Impact models.</p>
            <table id="reporttab">
                <tr>
                    <td id="paperthumb">
                        <a href="http://www.unsgaccessmeds.org/inbox/2016/2/16/contributionn-hassoun" target="_blank">
                            <img src="static/img/companyreport.jpg" width="100%"/>
                        </a>
                    </td>
                    <td>
                        <p class="abtlabel">Click on the paper to read more!</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="contentbox">
            <p class="redtxtabout"><font color="green">Global Health Impact Paper</font></p>
            <p class="txtcontent">This paper provides a brief introduction to the original Global Health Impact models.</p>
            <table id="reporttab">
                <tr>
                    <td id="paperthumb">
                        <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0141374" target="_blank">
                            <img src="static/img/ReportG.PNG" width="100%"/>
                        </a>

                    </td>
                    <td>
                        <p class="abtlabel">Click on the paper to read more!</p>
                     </td>
                    </td>
                </tr>
            </table>
        </div>

        <div class="contentbox">
            <p class="redtxtabout">Introduction to the Global Health Impact Index: </p>
            <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width=80% height=275 frameborder="0"  src="https://prezi.com/embed/zeycy34zb6nj/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE1lNjhCRUpSbVVNaldpOExIVTNYS1YxcHFaaHFGQ1lSdkdOM01xRUZFOD0&amp;landing_sign=t_-zvhLxW_pfDKaw-xoUzy64VD0DwVqSteTWZ3Jtak8"></iframe>
        </div>
        <div class="contentbox">
         <p class="redtxtabout">Introduction to The Company Index</p>
            <p class="txtcontent">A slide show for an introduction to the Company Index.</p>
            <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width=80% height=275 frameborder="0" src="https://prezi.com/embed/js_54vigudrv/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE1lNjhCRUpSbVVNaldpOExIVTNYS1YxcHFaaHFGQ1lSdkdOM01xRUZFOD0&amp;landing_sign=t_-zvhLxW_pfDKaw-xoUzy64VD0DwVqSteTWZ3Jtak8"></iframe>
        </div>
        <div class="contentbox">
            <p class="redtxtabout">Introduction to the Global Health Impact </p>
                   <iframe width="400" height="300" src="https://www.youtube.com/embed/ipAhgVS3-qg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
    </div>
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="bluetxtabout">COUNTRY INDEX:</p>
            <p class="txtcontent">The Country Index sums all drugs’ impacts within the country. So, for instance, if two drugs are used in some country and the first averts 1 million DALYs and the second averts 2 million, the country score would be 3 million DALYs averted. We also break down the scores so that it is possible to see the DALYs averted by drugs for malaria, TB, and HIV/AIDS respectively.</p>
        </div>
        <div class="contentbox">
            <p class="bluetxtabout">COMPANY INDEX:</p>
            <p class="txtcontent">The Company Index sums the impact of all of a company’s drugs. So, for instance, if one company makes two drugs that avert 3 and 6 million DALYs respectively, the Company Score would be 9 million DALYs averted. We also break down the scores so that it is possible to see the DALYs averted by company for malaria, TB, and HIV/AIDS respectively.</p>
        </div>
            <br>
            <br>

            <p class="bluetxtabout">TECHNICAL GUIDE TO THE INDEX:</p>
            <p class="txtcontent"><b>These guidebooks include</b> a database, reviews the assumptions underlying model construction, and explains the score calculations and goes through an example.</p>



            <table id="reporttab">
            <tr>
                <td id ="paperthumb">
                    <a href="{{ url_for('static',filename='docs/Malaria Tech Doc Final.pdf') }}"  style="color: #404040;"  target="_blank"><img src="static/img/Tech_Cover(Mal).PNG" class = "report_img"/></a>
                </td>
                <td id ="paperthumb">
                    <a href="{{ url_for('static',filename='docs/HIV Tech Doc Final.pdf') }}"  style="color: #404040;"  target="_blank"><img src="static/img/Tech_Cover(HIV).PNG" class="reportborder"/></a>
                </td>
            </tr>
            </table>
            <br/>
            <table id="reporttab">
            <tr>
                <td id ="paperthumb">
                    <a href="{{ url_for('static',filename='docs/TB Tech Doc Final.pdf') }}"  style="color: #404040;" target="_blank"><img src="static/img/Tech_Cover(TB).PNG"  class = "report_img"/></a>
                </td>

                <td id ="paperthumb">
                    <a href="{{ url_for('static',filename='docs/NTDs Tech Doc Final.pdf') }}"  style="color: #404040;" target="_blank"><img src="static/img/Tech_Cover(NTD).PNG" class="reportborder"/></a>
                </td>
            </tr>
            </table>
        <div class="contentbox">
            <p class="bluetxtabout">DOCUMENTATION:</p>
            <table id="reporttab">
                <tr>
                    <td id="paperthumb">
                     <a href="https://docs.google.com/presentation/d/1w5iPBreZYsiXPcSzTgwaH3l4ZkjPC7NDsVyFzCK4zmw/edit#slide=id.g4de25d0e26_1_57" target="_blank"><img src="static/img/slidecover(Mal).PNG" width="100%" class="pptborder1"/></a>
                    </td>
                        <td>
                            <a href="https://docs.google.com/presentation/d/1VqS3RsV1j_u98711oZNFvMBfpIqmT6Lt3PutUrKIbtg/edit" target="_blank"><img src="static/img/slidecover(HIV).PNG" width="100%" padding-left = "50px" class="pptborder3"/></a>
                        </td>
                </tr>
            </table>
             <table id="reporttab"  class="marginbt13">
                <tr>
                    <td id="paperthumb">
                      <a href="https://docs.google.com/presentation/d/1eEl7OS09qKOofIuH7B2zQ-AFNPe5KATBqXIkXi0KDm8/edit" target="_blank"><img src="static/img/slidecover(TB).PNG" width="100%" class="pptborder2"/></a>
                    </td>
                     <td>
                    <a href="https://docs.google.com/presentation/d/1xwyDXVEONai8QPyprPf_KVYxqBSqI2q6CXlImBCZNSk/edit#slide=id.g4e7e9495d9_0_136" target="_blank"><img src="static/img/NTD's.PNG" width="100%" class="pptborder4"/></a>
                    </td>
                </tr>
            </table>
            <div class="contentbox">
            <p class="bluetxtabout">Measuring Health:</p>
            <p class="txtcontent">Our models use the Disability Adjusted Life Year (DALY) to calculate health needs and impact. Some worry, however, that the DALY discriminates against the disabled. This paper adapts a fixed-plus-variable framework proposed in welfare economics to the case of health measurement to proposes a novel measure called the Ethically Adjusted Life Year (EALY).</p>

        <table id="reporttab">
                <tr>
                    <td id="paperthumb">
                        <a href="https://academic.oup.com/jpubhealth/article/39/3/633/3002997" target="_blank"><img src="static/img/ReportB.PNG" width="75%"/></a>
                    </td>
                    <td>
                        <p class="abtlabel">Click on the paper to read more!</p>
                    </td>
                </tr>
        </table>
        <br>
        <br>
        <table id="reporttab"  class="marginbt13">
        <tr>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/EALYs by Country.xls"  style="color: #404040;"  target="_blank">EALYs by Country</a></p>
            </td>
            <td>
                <p class="ppttext"> <a href="static/docs/EALYs by Disease.xlsx"  style="color: #404040;"  target="_blank">EALYs by Disease</a></p>
            </td>
        </tr>
        <tr>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/HIV_AIDS EALYs.xlsx"  style="color: #404040;"  target="_blank">HIV EALYs</a></p>
            </td>
            <td>
                <p class="ppttext"> <a href="static/docs/Hookworm EALYs.csv"  style="color: #404040;"  target="_blank">Hookworm EALYs</a></p>
            </td>
        </tr>
        <tr>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/Malaria EALYs.xlsx"  style="color: #404040;"  target="_blank">Malaria EALYs</a></p>
            </td>
            <td>
                <p class="ppttext"> <a href="static/docs/Tuberculosis EALYs.xlsx"  style="color: #404040;"  target="_blank">TB EALYs</a></p>
            </td>
        </tr>
        <tr>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/Onch EALYs.csv"  style="color: #404040;"  target="_blank">Onchocerciasis EALYs</a></p>
            </td>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/Schist EALYs.csv"  style="color: #404040;"  target="_blank">Schistosomiasis EALYs</a></p>
            </td>
        </tr>
        <tr>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/Roundworm EALYs.csv"  style="color: #404040;"  target="_blank">Roundworm EALYs</a></p>
            </td>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/Whipworm EALYs.csv"  style="color: #404040;"  target="_blank">Whipworm EALYs</a></p>
            </td>
        </tr>
        <tr>
            <td id="paperthumb">
                <p class="ppttext"> <a href="static/docs/Lymphatic Filariasis EALYs.xlsx"  style="color: #404040;"  target="_blank">Lymphatic Filariasis EALYs</a></p>
            </td>


        </tr>
    </table>
        </div>
    </div>
    </div>
</div>
{% endblock %}
