{% extends "layout.html" %}
{% block title %}
<title>Pandemic Preparedness</title>
{% endblock %}
 {% block frontimg %}
<img id="fore" src="static/img/pandemic.jpg" />
{% endblock %}
 {% block content %}
<div class="currentlocation">
<p class="pagetitle">Media / <a href="/pandemic" class="titlebold">Pandemic Preparedness</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="titlecolorredlower">ABOUT: <span class="titlecolorred">PANDEMIC PREPAREDNESS</span></p>
            <p class="txtcontent">Kaushik Basu Former Chief economist of the World Bank and India,
                Larry Gostin Director of the O’Neill Institute for National and Global Health Law at Georgetown,
                and Nicole Hassoun professor at Binghamton University and founder of the Global Health Impact Project
                recently released a draft report entitled Pandemic Preparedness and Response: Beyond
                the WHO’s Access to COVID-19 Tools Accelerator. They argue that the global response surrounding
                ACT-A (including the COVID-19 Vaccines Global Access, or COVAX), has so far fallen short
                and suggest a way of addressing these shortcomings and improving the global pandemic preparedness
                and response architecture. More precisely, they propose an enhanced
                APT-A (Access to Pandemic Tools Accelerator) that provides more funding
                for diagnostics, vaccines, therapeutics, equitable access, and basic health systems
                and includes two other pillars or workstreams—one for economic assistance
                in pandemic times and another to combat structural inequalities.

        </div>
        </div>
<div class="col-sm-6">
    <div class="contentbox">
        <div class="row">
                <p class="txtcontent"> <b>PANDEMIC PAPERS</b> </p>
                <p class="txtcontent">Check out the original proposal and follow on paper exploring the prospects for increasing access to essential health technologies for pandemic preparation and response</p>
                <br>
                <div class="col-sm-6">
                    <a class="dislist" target="_blank" href="/static/docs/povax2report.pdf"> <img id="povaximg" width="181px" height="183px" src="static/img/pandemicpovax.jpg"/> </a>
                </div>
                <div class="col-sm-6">
                    <a class="dislist" target="_blank" href="/static/docs/brookingspovax.pdf"> <img id="Bpovaximg" width="181px" height="183px" src="static/img/brookings.jpg"/> </a>
                </div>


            </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-6">
             <div class="contentbox">
            <p class="redtxtabout">JOIN THE TEAM</p>
            <p class="txtcontent">Become a member of the project! Join the growing group of academics and professionals supporting and advocating for the proposal.
            <a target="_blank" href="https://docs.google.com/forms/d/19fIjwu2dhTzIIHtS_l5iU6PdLriXork7QgI5JhwlPa0/edit" class="links"> JOIN HERE </a></p>
             </div>
         <br>
        <p class="redtxtabout">BLOG</p>
            <a class="txtcontent" target="_blank" href="https://ghiprojectblog.wixsite.com/ghiproject/single-post/povax">https://ghiprojectblog.wixsite.com/ghiproject/single-post/povax</a></li>
     </div>
</div>

</div>



<div class="row">
     <div class="contentbox">
            <p class="redtxtabout">MEDIA LINKS</p>
            <p class="txtcontent">
                <ul></ul>

            <p class="txtcontent"><b>RADIO</b></p>
             <ul style="list-style-type:none;">
                              <li><a class="dislist" target="_blank" href="https://www.wpr.org/how-do-you-decide-who-gets-potentially-life-saving-vaccine-first">https://www.wpr.org/how-do-you-decide-who-gets-potentially-life-saving-vaccine-first</a></li>
                              <li><a class="dislist" target="_blank" href="https://www.carnegiecouncil.org/studio/multimedia/20201207-vaccine-ethics-covid-19">https://www.carnegiecouncil.org/studio/multimedia/20201207-vaccine-ethics-covid-19</a></li>
                              <li><a class="dislist" target="_blank" href="https://www.bbc.com/news/av/health-55115753">https://www.bbc.com/news/av/health-55115753</a></li>
                              <li><a class="dislist" target="_blank" href="https://wbng.com/2020/11/16/as-u-s-races-to-roll-out-coronavirus-vaccine-bu-professor-says-other-countries-may-be-waiting-years">https://wbng.com/2020/11/16/as-u-s-races-to-roll-out-coronavirus-vaccine-bu-professor-says-other-countries-may-be-waiting-years/</a></li>
                              <!--<li><a class="dislist" href="/index/country/2010/onchocerciasis#relocation2010">Onchocerciasis</a></li>-->
             </ul>
         <p class="txtcontent"><b>NEWS</b></p>
             <ul style="list-style-type:none;">
                              <li><a class="dislist" target="_blank" href="https://www.newswise.com/coronavirus/pfizer-moderna-news-is-promising-but-billions-are-unlike-to-get-covid-19-vaccine-for-years">https://www.newswise.com/coronavirus/pfizer-moderna-news-is-promising-but-billions-are-unlike-to-get-covid-19-vaccine-for-years</a></li>
                              <li><a class="dislist" target="_blank" href="https://www.wicz.com/story/42020603/binghamton-university-expert-says-us-has-moral-as-well-as-legal-obligation-to-help">https://www.wicz.com/story/42020603/binghamton-university-expert-says-us-has-moral-as-well-as-legal-obligation-to-help</a></li>
                              <li><a class="dislist" target="_blank" href="https://www.wicz.com/story/42131737/benefits-of-sharing-coronavirus-knowledge-freely">https://www.wicz.com/story/42131737/benefits-of-sharing-coronavirus-knowledge-freely</a></li>
             </ul>

</p>
     </div></div>


<div class="row">
    <p class="titlecolorredwho">Profiles</p>
</div>
<!-- <div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="{{ url_for('static',filename='img/board/Hassoun.jpg') }}" />
        </div>
    <div class="col-sm-6">
        <p class="namecolorbluewho">Nicole Hassoun</p>
        <p class="whotxtcontent">Nicole Hassoun heads the Global Health Impact project intended to extend access to medicines to the global poor. Her research interests are in social and political philosophy, global justice, global health, and applied ethics. </p>
     </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/kaushikbasu.jpg"/>
        </div>
    <div class="col-sm-6">
       <p class="namecolorbluewho">Kaushik Basu</p>
        <p class="whotxtcontent">Profession: Chair in Global Governance & Legal Epidemiology and Professor </p>
        <p class="whotxtcontent">Former Chief Economist of the World Bank and India. Professor of Economics and Carl Marks Professor of International Studies at the Department of Economics and SC Johnson Graduate</p>
      </div>
</div> -->

<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="{{ url_for('static',filename='img/board/Hassoun.jpg') }}" />
        <p class="namecolorbluewho">Nicole Hassoun</p>
        <p class="whotxtcontent">Nicole Hassoun heads the Global Health Impact project intended to extend access to medicines to the global poor. Her research interests are in social and political philosophy, global justice, global health, and applied ethics. </p>
     
    </div>
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/kaushikbasu.jpg"/>
       <p class="namecolorbluewho">Kaushik Basu</p>
        <!-- <p class="whotxtcontent">Profession: Chair in Global Governance & Legal Epidemiology and Professor </p> -->
        <p class="whotxtcontent">Former Chief Economist of the World Bank and India. Professor of Economics and Carl Marks Professor of International Studies at the Department of Economics and SC Johnson Graduate</p>
      </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/Esther.png"/>
        <p class="namecolorbluewho">Esther Chirwa </p>
        <!-- <p class="whotxtcontent">Profession: District Medical Officer at the Ministry of Health, Malawi </p>
        <p class="whotxtcontent">Email: eachirwa@medcol.mw </p> -->
        <p class="whotxtcontent">Dr Esther Chirwa-Mkandawire has an MSc in vaccinology and drug development. She is currently working with the Ministry of Health, Expanded Program on Immunisation as a vaccine safety officer. She is also a member of the National COVID-19 vaccine taskforce which is responsible for COVID-19 vaccine rollout and implementation.</p>
    </div>
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/karrar.jpg"/>
        <p class="namecolorbluewho">Karrar Karrar</p>
        <!-- <p class="whotxtcontent">Profession: Pharmaceutical Policy Lead at Save the Children </p>
        <p class="whotxtcontent">Email: k.karrar@savethechildren.org.uk  </p> -->
        <p class="whotxtcontent">Karrar Karrar has his Masters degree in Pharmacy, Clinical, Hospital and Managed Care Pharmacy, and International Health Policy and Economics. He is currently working at Save the Children as the Pharmaceutical Health Lead, and served previously as the Access to Medicines Advisor.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/pedrov.jpg"/>
        <p class="namecolorbluewho">Pedro Villareal</p>
        <!-- <p class="whotxtcontent">Profession: Senior Research Fellow at the Max Planck Institute </p>
        <p class="whotxtcontent">Email: villarreal@mpil.de </p> -->
        <p class="whotxtcontent">Dr. Pedro Villarreal has his law degree, PhD and Masters degree. He currently is working as a senior research fellow at the Max Planck Institute for comparative public law and international law. His main fields of research include Health Law, Public International Law, and Comparative Public Law.</p>
    </div>
     <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/andersh.png"/>
        <p class="namecolorbluewho">Dr. Anders Herlitz</p>
         <!-- <p class="whotxtcontent">Profession: Visiting Scientist and Research Fellow </p> -->
        <p class="whotxtcontent">During the academic years 2016-2019, Dr. Anders Herlitz is Visiting Scientist at the Department of Global Health and Population at the Harvard T.H. Chan School of Public Health. He is also Research Fellow at the Institute for Futures Studies in Stockholm, Sweden. </div>
</div>


<br>

<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/amanda.png"/>
        <p class="namecolorbluewho">Amanda Banda</p>
        <!-- <p class="whotxtcontent">Profession: Global health advocate </p> -->
        <p class="whotxtcontent">At Wemos, Amanda is a global health advocate in the East and Southern African region. She focuses on the programmes Human Resources for Health and Finance for Health. Amanda is also co-chair of the Health Workers For All Coalition.

</p>
    </div>
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/caesaratuire.png"/>
        <p class="namecolorbluewho">Caesar Atuire</p>
        <p class="whotxtcontent">Profession: Lecturer </p>
        <p class="whotxtcontent">Email: caatuire@ug.edu.gh </p>
        <p class="whotxtcontent">Dr Caesar Atuire joined the University of Ghana in January 2014 as Lecturer. He began his university education in Civil Engineering at the Imperial College of Science, Technology and Medicine (London).
</p>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/iwao.png"/>
        <p class="namecolorbluewho">Iwao Hirose </p>
        <!-- <p class="whotxtcontent">Teaching Areas: Ethics </p> -->
        <p class="whotxtcontent"> I have been working at McGill since 2007. Before that, I was employed at University College, Oxford (2003-6), Harvard University (2006-7), and Melbourne University (2007-9, part time).
The area of my research is moral philosophy. More specifically, I work on axiology and its applications to public policy.
In 2014, I published three monographs: Moral Aggregation (Oxford University Press); Egalitarianism(Routledge); and The Ethics of Health Care Rationing (co-authored with Greg Bognar, Routledge). I am about to complete two edited volumes: The Oxford Handbook of Value Theory (Oxford University Press) with Jonas Olson; and Weighing and Reasoning (Oxford University Press) with my McGill colleague, Andrew Reisner.</div>
<div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/abhasaxena.png"/>
        <p class="namecolorbluewho">Abha Saxena</p>
        <!-- <p class="whotxtcontent">Profession: Coordinator of the Global Health Ethics Unit of the WHO </p> -->
        <p class="whotxtcontent"> Abha Saxena is the Coordinator of the Global Health Ethics Unit of the World Health Organization in Geneva, Switzerland. In that role, she chairs the Research Ethics Review Committee and leads the Department of Ethics and Social Determinants (ESD) of WHO. She is married to WHO-based psychiatrist Shekhar Saxena.[1] Much of her work involves advising low and middle income countries about the ethics of resource allocation in addressing vector-borne diseases, aging, and other current medical and public health issues.</div>

</div>

<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/marcFl.png"/>
        <p class="namecolorbluewho">Marc Fleurbaey</p>
        <!-- <p class="whotxtcontent">Profession: Professor in Economics and Humanistic Studies and Public Affairs </p> -->
        <p class="whotxtcontent">Marc Fleurbaey is Robert E. Kuenne Professor in Economics and Humanistic Studies, and Professor of Public Affairs and the University Center for Human Values. He has been an economist at INSEE (Paris), a professor of economics at the Universities of Cergy-Pontoise and Pau (France), and a research director at the National Center for Scientific Research (CNRS) in Paris. </div>
     <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/jenniferm.png"/>
        <p class="namecolorbluewho">Jennifer E. Miller</p>
         <!-- <p class="whotxtcontent">Profession: Assistant Professor in Yale, Director of Good Pharma Scorecard </p> -->
        <p class="whotxtcontent"> Jennifer E. Miller, PhD, is an Assistant Professor in Yale School of Medicine; Director of the Good Pharma Scorecard (an index that ranks pharmaceutical companies on their bioethical performance); and Founder of the nonprofit Bioethics International. Her research focuses on the ethics of the pharmaceutical industry, specifically developing and using metrics to enhance accountability and social responsibility around how clinical trials are designed, conducted, and disseminated, and the accessibility of new medicines and vaccines. </div>
</div>



<br>


<div class="row">
     <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/stevenjhoff.png"/>
        <p class="namecolorbluewho">Dr. Steven J. Hoffman</p>
         <!-- <p class="whotxtcontent">Profession: Chair in Global Governance & Legal Epidemiology and Professor </p> -->
        <p class="whotxtcontent"> Dr. Steven J. Hoffman is the Dahdaleh Distinguished Chair in Global Governance & Legal Epidemiology and a Professor of Global Health, Law, and Political Science at York University, the Director of the Global Strategy Lab, the Director of the WHO Collaborating Centre on Global Governance of Antimicrobial Resistance, and the Scientific Director of the CIHR Institute of Population & Public Health at the Canadian Institutes of Health Research.
</div>
     <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/brook.jpg"/>
        <p class="namecolorbluewho">Brook Baker</p>
         <!-- <p class="whotxtcontent">Profession: Professor of Law </p> -->
        <!-- <p class="whotxtcontent">Education: Harvard University, AB 1969, Northeastern University, JD 1976 </p> -->
        <p class="whotxtcontent">Professor Baker teaches a Global HIV/AIDS Policy seminar, disability discrimination law, negotiations and an analytical skills workshop. His recent scholarship has focused intellectual property and access to medicines and intensifying the legal, economic and policy response to the global HIV/AIDS pandemics.
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img width="125px" height="150px" src="static/img/board/Lawrence.png"/>
        <p class="namecolorbluewho">Lawrence Gostin</p>
        <p class="whotxtcontent">Lawrence O. Gostin is University Professor, Founding O’Neill Chair in Global Health Law, and Director of the O’Neill Institute for National and Global Health Law at Georgetown University. Prof. Gostin holds international professorial appointments at Oxford University, University of Witwatersrand, (South Africa), and Melbourne University. He is also the Director of the World Health Organization Collaborating Center on Public Health Law & Human Rights. 
    </div>
</div>



{% endblock %}