{% extends "layout.html" %}
{% block title %}
<title>Resources</title>
{% endblock %}

{% block frontimg %}
<img id="fore" src="static/img/about.jpg"/>
{% endblock %}

{% block content %}
<div class="currentlocation">
<p class="pagetitle">About / <a href="/resources" class="titlebold">Resources</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
            <div class="contentbox">
            <p class="titlecolorred">RESOURCES</p>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contentbox">
         <p class="redtxtabout">Introduction to The Company Index</p>
            <p class="txtcontent">A slide show for an introduction to the Company Index.</p>
            <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width=100% height=222px src="https://prezi.com/embed/js_54vigudrv/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE1lNjhCRUpSbVVNaldpOExIVTNYS1YxcHFaaHFGQ1lSdkdOM01xRUZFOD0&amp;landing_sign=t_-zvhLxW_pfDKaw-xoUzy64VD0DwVqSteTWZ3Jtak8"></iframe>
        </div>
        <div class="contentbox">
            <p class="redtxtabout">Podcast from Ethics Lab Podcast</p>
            <p class="txtcontent">A podcast from Ethics Lab Podcast: Episode 2: December 7, 2018</p>

            <br>
            <audio controls>
            <!--<source src="horse.ogg" type="audio/ogg">-->
            <source src="static/docs/Ethics Lab Podcast, Episode 2_ December 7, 2018_ Interview with Nicole Hassoun.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <br/>
        <div class="contentbox">
            <p class="redtxtabout">How the Tyranny of Market Forces Stunts Our Moral Imagination</p>
            <br>
            <p class="txtcontent">Check out this video from Big Think where our Executive Director Nicole Hassoun talks about the philosophy of human rights.</p>
            <blockquote class="embedly-card"><h4><a href="https://bigthink.com/videos/nicole-hassoun-how-the-tyranny-of-market-forces-stunts-our-moral-imagination"></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
        <div class="contentbox" id="globalJusticeAndGlobalHealthContentBox">
        <p class="redtxtabout">Global Justice and Global Health</p>
            <p class="txtcontent">An interview on New Books in Philosophy that discusses the Global Health Impact Proposal.</p>
            <br>
            <audio controls>
            <!--<source src="horse.ogg" type="audio/ogg">-->
            <source src="static/docs/030philosophyhassoun.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
         <div class="contentbox">
            <p class="redtxtabout">Podcast from Santa Clara University</p>
            <p class="txtcontent">A podcast from a lecture on the Global Health Impact Index at Santa Clara University.</p>
            <br>
            <audio controls>
            <!--<source src="horse.ogg" type="audio/ogg">-->
            <source src="static/docs/Ethics-at-noon-Nicole-hassoun.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="contentbox">
            <p class="redtxtabout">Making an Impact</p>
            <p class="txtcontent">This Harvard Global Health Footprint video explains the importance of rating systems like the Global Health Impact Index for global health.</p>
            <br>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/gBLqy82E6lY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <div class="contentbox">
            <p class="redtxtabout" id="ghiReport">GHI Neglected Tropical Disease Report</p>
            <div class="reportpic" style="cursor: pointer;">
                    <img  onclick="window.open('static/docs/Global Health Impact- Neglected Tropical Disease Model.pdf','_blank')" src="static/img/ntdReport.png" width="100%"/>
            </div>
            <p class="txtcontent">This report pertains to GHI's neglected tropical disease model.</p>
        </div>

    </div>


    <div class="col-sm-6">
        <div class="contentbox contentresource">
            <p class="bluetxtabout">The Policy Proposal</p>
            <div class="reportpic"><a href="{{ url_for('static',filename='docs/Chapter3.pdf') }}" target="_blank"><img src="static/img/ReportY.PNG" width="100%"/></a></div>
            <p class="txtcontent">This paper explains how to leverage the Index to promote global health.</p>
        </div>
        <br>
         <div class="contentbox contentresource">
            <p class="bluetxtabout">Global Health Impact Index</p>
            <div class="reportpic"><a href="http://www.unsgaccessmeds.org/inbox/2016/2/16/contributionn-hassoun" target="_blank"><img src="static/img/companyreport.jpg" width="100%"/></a></div>
            <p class="txtcontent">This report explains the new Global Health Impact models.</p>
        </div>
        <br>
        <div class="contentbox contentresource">
            <p class="bluetxtabout" ><font color="green">Global Health Impact Paper</font></p>
            <div class="reportpic"><a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0141374" target="_blank"><img src="static/img/ReportG.PNG" width="100%"/></a></div>
            <p class="txtcontent">This paper provides a brief introduction to the original Global Health Impact models.</p>
        </div>
        <div class="contentbox">
            <p class="redtxtabout">Presentation at Harvard University</p>
            <p class="txtcontent">Check out this video with a presentation on the Global Health Impact Index from a recent conference at Harvard University.</p>
            <iframe width="100%" height="222" src="//www.youtube.com/embed/-PMWWBg6XkQ?rel=0" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="contentbox">
            <p class="redtxtabout">Fair Trade Pharma: A Plan for More Affordable Prescription Drugs</p>
            <p class="txtcontent">Check out this video from Big Think where our Executive Director Nicole Hassoun explains how the Global Health Impact index can give pharmaceutical companies an incentivize to extend access to essential medicines.</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <blockquote class="embedly-card"><h4><a href="https://bigthink.com/videos/nicole-hassoun-how-to-incentivize-big-pharma-to-create-cheaper-drugs"></blockquote>
            <!--<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>-->
        </div>
        <div class="contentbox">
            <p class="bluetxtabout" id="companyReportLabelOnResources">The Company Report</p>
            <div class="reportpic"><a href="{{ url_for('static',filename='docs/Company Report.pdf') }}" target="_blank"><img src="static/img/CompanyReport.png" width="100%"/></a></div>
            <p class="txtcontent">This report explains the originator company rankings.</p>
        </div>
        <br><br>
        <br><br>
        <div class="contentbox">
            <p class="bluetxtabout" id="ghiReport">The 2020 Report</p>
            <div class="reportpic"><a href="{{ url_for('static',filename='docs/GHI Report.pdf') }}" target="_blank"><img src="static/img/ghiReport.png" width="100%"/></a></div>
            <p class="txtcontent">This report explains our new Global Health Impact models.</p>
        </div>

        <div>
            <script>
                $(document).ready(function () {
                    let parent = jQuery("#companyReportLabelOnResources").parent();
                    if(parent.is('a')){
                        var cntRight = parent.contents();
                        parent.replaceWith(cntRight);
                    }

                    var leftSideParent = jQuery("#globalJusticeAndGlobalHealthContentBox").parent();
                    if(leftSideParent.is('a')){
                        var cnt = leftSideParent.contents();
                        leftSideParent.replaceWith(cnt);
                    }

                });
            </script>
        </div>
    </div>

</div>
{% endblock %}
